<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <!-- Head content -->
</head>
<body>
  <!-- Body content -->
  <div class="container mt-5">
    <h1>Reef Live Data</h1>
    <div style="margin: 0 auto; background-color: white;">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  
  <!-- Additional scripts -->
  <script>
    let myChart; // Variable to store the chart instance

    function fetchDataAndRefreshChart() {
      fetch('https://reef-controller.duckdns.org/api/messages/pH')
        .then(response => response.text())
        .then(pHData => {
          fetch('https://reef-controller.duckdns.org/api/messages/Current_ind')
            .then(response => response.json())
            .then(data => {
              const currentIndResponse = parseInt(data[0]);
              const pHResponse = pHData.trim();
              const pHResponseArray = pHResponse.split(',');

              // Fetch the temperature data from the specified URL
              fetch('https://reef-controller.duckdns.org/api/messages/Temp')
                .then(response => response.json())
                .then(matrixData => {
                  const temperatureData = matrixData.map(entry => entry.temperature);

                  const ctx = document.getElementById('myChart').getContext('2d');

                  if (myChart) {
                    myChart.destroy();
                  }

                  myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: Array.from({ length: 288 }, (_, i) => {
                        const hour = Math.floor(i / 12);
                        const minute = (i % 12) * 5;
                        if (i === 288) {
                          return '24:00';
                        } else {
                          return `${hour}:${minute.toString().padStart(2, '0')}`;
                        }
                      }),
                      datasets: [
                        {
                          label: 'pH',
                          data: pHResponseArray.map(Number),
                          borderColor: 'rgba(120, 224, 143, 1)',
                          fill: false,
                          pointBackgroundColor: 'rgba(120, 224, 143, 1)'
                        },
                        {
                          label: 'Temperature',
                          data: temperatureData,
                          borderColor: 'rgba(255, 106, 0, 1)',
                          fill: false,
                          pointRadius: 0,
                          yAxisID: 'temperature-y-axis'
                        }
                      ]
                    },
                    options: {
                      // Chart options
                    }
                  });
                });
            });
        });
    }

    fetchDataAndRefreshChart();

    setInterval(fetchDataAndRefreshChart, 60000);
  </script>
</body>
</html>
